# Klipper config entrypoint file

# HARDWARE
[include klipper-prusa-i3mk3/hardware/printer.cfg]
[include klipper-prusa-i3mk3/hardware/steppers.cfg]
[include klipper-prusa-i3mk3/hardware/tmc2130.cfg]
[include klipper-prusa-i3mk3/hardware/prusa_extruder.cfg]
[include klipper-prusa-i3mk3/hardware/heated-bed.cfg]
[include klipper-prusa-i3mk3/hardware/bed-calibration.cfg]
[include klipper-prusa-i3mk3/hardware/fans.cfg]
[include klipper-prusa-i3mk3/hardware/display.cfg]
[include klipper-prusa-i3mk3/hardware/prusa.cfg] 
[include klipper-prusa-i3mk3/hardware/temperature.cfg] 

# MACROS
[include klipper-prusa-i3mk3/macros/beeper.cfg]
[include klipper-prusa-i3mk3/macros/park.cfg]
[include klipper-prusa-i3mk3/macros/homing-calibrate.cfg]
[include klipper-prusa-i3mk3/macros/print-start_stop.cfg]
[include klipper-prusa-i3mk3/macros/filament-change.cfg]
[include klipper-prusa-i3mk3/macros/countdown.cfg]
[include klipper-prusa-i3mk3/macros/temp-check.cfg]
[include klipper-prusa-i3mk3/macros/marlin-compat.cfg]
[include klipper-prusa-i3mk3/macros/enviro.cfg]
[include klipper-prusa-i3mk3/macros/bed_mesh.cfg]

# MENUS
[include klipper-prusa-i3mk3/menus/main.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*#       0.050833, 0.126667, 0.000833, 0.048333, -0.094167
#*#       0.058333, 0.060000, 0.025833, 0.029167, -0.072500
#*#       0.015833, -0.024167, -0.001667, -0.004167, 0.056667
#*#       0.120000, 0.007500, -0.061667, -0.001667, 0.032500
#*#       0.177500, 0.018333, 0.003333, -0.055000, 0.048333
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 35.0
#*# max_x = 240.0
#*# min_y = 6.0
#*# max_y = 198.0

